<a class="content-editor-avatar" href="#">
    {{#showAvatar}}
    <img src="{{ avatarUrl }}" width="36" height="36">
    {{/showAvatar}]
</a>
<div class="content-editor-input">
    <div class="lf-editor-resize" />
    <textarea class='lf-editor-field'></textarea>
    <a class='lf-editor-post-btn'>{{ strings.postBtn }}</a>
</div>
